<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/e3544b01-8ce8-4688-bb95-fb2fdbcde82c/resourceGroups/Pet4YouAPI_group/providers/Microsoft.ApiManagement/service/Pet4YouAPIapi/apis/Pet4YouAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/e3544b01-8ce8-4688-bb95-fb2fdbcde82c/resourceGroups/Pet4YouAPI_group/providers/Microsoft.Web/sites/Pet4YouAPI</ResourceId>
    <ResourceGroup>Pet4YouAPI_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://pet4youapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e35d1967-a730-45f1-b7b4-dad68a9a5e6e</ProjectGuid>
    <PublishUrl>https://pet4youapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Pet4YouAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>