// Imports
@import './mixins.scss';
@import './helpers.scss';
@import './variables';

// Styles
body {
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: $petMainBgColor;
}

//Header
.nav-container {
    background: $navBgColor;

    .navbar {
        height: 130px;
        width: 100%;

        @include at-max-width-960px {
            height: 100px;
        }

        ul {
            padding: 0;

            @include at-max-width-960px {
                position: fixed;
                width: 100%;
                background: #2c3e50;
                margin-bottom: -5px;
                bottom: 0;
                left: 0;
                text-align: center;
                z-index: 999;
            }

            li {
                display: inline-block;
                line-height: 80px;
                margin: 0 100px 0 5px;

                @include at-max-width-960px() {
                    display: inline-block;
                    margin: 0 40px;
                }
                @include at-max-width-520px {
                    margin: 0px 20px;
                }

                a {
                    color: $navButtonTextColorDarken;
                    @include border-radius(6px);
                    @include fluidFontSize(16px, 20px, 767px, 1280px, 20px);
                    text-decoration: none;

                    @include at-max-width-960px() {
                        color: $navButtonTextColorLighten;
                    }
                    @include at-max-width-520px {
                        font-size: 12px;
                    }
                    &.active:hover {
                        color: #2c3e50;
                        text-decoration: underline;

                        @include at-max-width-960px {
                            color: $navHoverLinkTextColor;
                        }
                    }
                }
            }
        }

        .add-button {
            background: $navButtonBgColor;
            color: $navButtonTextColorLighten;
            @include fluidFontSize(16px, 20px, 767px, 1280px, 20px);
            @include border-radius(6px);
            text-decoration: none;
            transition: 0.5s;
            @include at-max-width-960px {
                font-size: 15px;
                padding: 7px 10px;
            }
        }
        .logo {
            width: 100px;
            @include at-max-width-960px {
                width: 80px;
            }
        }
    }
}

.footer {
    background-color: #9EDCEF;
    color: black;
    width: 100%;
    height: 70px;
    padding: 30px;
    text-align: center;
    @include at-max-width-960px {
        display: none;
    }
}

.back-button {
    position: relative;
    background: transparent;
}

// sign-in page
.sign-in, .sign-up {
    .container {
        background-color: white;
        width: 55%;
        height: 60%;
        @include border-radius(10px);
        margin-top: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        @include at-max-width-520px {
            width: 70%;
            height: 45%;
        }
        @include at-max-width-960px {
            width: 80%;
            height: 55%;
        }
        @include _960-h {
            overflow-y: auto;
            max-height: 60vh;
            margin-bottom: 20px;
        }
    }

    .signIn_logo {
        width: 160px;
        height: 170px;
        @include at-max-width-520px {
            width: 80px;
            height: 80px;
        }
        @include at-max-width-960px {
            width: 120px;
            height: 120px;
            margin-top: -30px;
        }
    }

    .form-group {
        label {
            font-size: 18px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 13px;
            background: #9EDCEF;
            border: none;
            @include at-max-width-520px {
                padding: 10px;
                margin-top: 5px;
                font-size: 10px;
            }
        }
    }

    .sign_btn button,
    .google_btn button {
        width: 50%;
        padding: 13px;
        font-size: 15px;
        border: none;
        margin: 5px 0;
        cursor: pointer;
        @include at-max-width-520px {
            padding: 8px;
            font-size: 9px;
        }
        @include at-max-width-960px {
            padding: 10px;
            font-size: 13px;
            margin: 10px 0;
        }
        &:active {
            transform: scale(0.94);
        }
    }
}
.Google_logo {
    img {
        margin-right: 10px;
        height: 20px;
        font-size: 10px;
    }
}

.label_sign {
    font-size: 25px;
    margin-top: 70px;
    @include at-max-width-520px {
        font-size: 20px;
    }
}

//Sign-up page
.signUpcontainer {
  background-color: white;
  width: 50%;
  height: 70%;
  @include border-radius(10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  @include at-max-width-520px {
      width: 80%;
      height: 60%;
    }
    @include _960-h{
          overflow-y: auto;
          max-height: 60vh;
          margin-bottom: 20px;
        }
        @include at-max-width-960px {
                width: 70%;
                height: 70%;
            }
      }

.signUp_logo {
  width: 120px;
  height: 140px;
  margin-top: -65px;
  @include at-max-width-520px {
      width: 80px;
      height: 80px;
    }
    @include at-max-width-960px {

            width: 120px;
            height: 130px;
            margin-top: -50px;
        }
}

// Profile
.profile-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: auto;
    margin-bottom: 70px;
    height: auto;
    @include border-radius(13px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @include at-max-width-960px {
        width: 80%;
        margin-bottom: 150px;
    }
}

.profile-label {
    @include fluidFontSize(15px, 25px, 767px, 1280px, 20px);
}

.profile-icon {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    padding: 17px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    i {
        font-size: 90px;
        @include at-max-width-960px {
            font-size: 60px;
        }
        @include at-max-width-520px {
            font-size: 20px;
        }
    }
}

.profile-icon-container {
    text-align: right;
    @include at-max-width-520px {
        text-align: center;
        margin-top: 10px;
    }
}

#photo-upload {
    display: none;
}

.additional-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.registration-date {
    color: gray;
    @include fluidFontSize(10px, 18px, 767px, 1280px, 13px);
}

.additional-first,
.additional-second {
    flex: 1;
    height: 400px;
    background-color: #E5E5E5;
    padding: 10px;

    input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        @include border-radius(5px);
        outline: none;

        @include at-max-width-520px {
            height: 20px;
        }
        &:focus {
            border-color: dodgerblue;
        }
    }
    label {
        @include fluidFontSize(10px, 16px, 767px, 1280px, 14px);
    }
}

.password-fields label {
    @include fluidFontSize(10px, 16px, 767px, 1280px, 14px);
}

.info-title {
    @include fluidFontSize(10px, 18px, 767px, 1280px, 13px);
}

.info-value {
    @include fluidFontSize(10px, 15px, 767px, 1280px, 14px);
}

.user-info-biography {
    @include fluidFontSize(10px, 15px, 767px, 1280px, 14px);
}

.info-label {
    margin-bottom: 10px;
    @include fluidFontSize(13px, 20px, 767px, 1280px, 15px);
}

.your-ads-button,
.log-out-button {
    background-color: $profileButtonAds;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    @include border-radius(10px);
    @include at-max-width-960px {
        padding: 8px 20px;
    }
    @include at-max-width-520px {
        padding: 5px 10px;
        font-size: 10px;
    }

    &:hover {
        transform: scale(0.97);
        background-color: lighten($profileButtonAds, 5%);
    }
    
}
.edit-button,.change-photo-button,.confirm-update-button
{
    background-color: $profileEditBtn;
    border: none;
    padding: 9px 40px;
    cursor: pointer;
    @include border-radius(10px);
    @include at-max-width-960px {
        font-size: 11px;
        padding: 8px 35px;
    }
    @include at-max-width-520px {
        font-size: 8px;
        padding: 3px 7px;
    }

    &:hover {
        transform: scale(0.97);
        background-color: lighten($profileEditBtn, 5%);
    }

}

.change-password-label {
    margin: 32px;
    @include fluidFontSize(12px, 17px, 767px, 1280px, 15px);
    @include at-max-width-520px {
        margin-bottom: 16px;
    }
}
.change-password-button
{
    background-color: $profileChangePasswBtn;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;

    @include border-radius(10px);
    @include at-max-width-960px {
        font-size: 11px;
        padding: 11px 8px;
    }
    @include at-max-width-520px {
        font-size: 8px;
        padding: 5px 8px;
    }
    &:not([disabled]) {
        &:hover {
            transform: scale(0.97);
            background-color: lighten($profileChangePasswBtn, 5%);
        }
    }
    
}

//home-page
.dropdown select, .search-box input  {
    border: none;
}
.pi-map-marker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.categories-card img {
    margin: 36px;
    height: 180px;
    transition: transform 0.3s ease-in-out;
    @include _1170{
        margin: 20px;
        height: 125px;
      }
      @include at-max-width-960px {
            margin: 20px;
            height: 100px;
          }
}
.categories-card img:hover {
    transform: scale(1.1);
}
  .categories-area {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    background-color: white;
}
.announcement-container {
    position: relative;
    width: 43%;
    margin: 0 1%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
    @include at-max-width-520px {
          width:42%;
          padding: 10px;
          }
    }
.announcement-container:hover {
    transform: scale(1.03);
}
.all-announcement {
    @include at-max-width-960px {
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
      }
  }
.announcement-container img {
    width: 100%;
    height: 60%;
}
.announcement-details {
    color: grey;

    .price {
        font-weight: bold;
        color: black;
        font-size: 18px;
    }
}
.announcement-label{
    @include fluidFontSize(19px, 25px, 767px, 1280px, 22px);

}
.announcement-text-content{
    @include fluidFontSize(12px, 20px, 767px, 1280px, 16px);

}
.announcement-details{
    @include fluidFontSize(9px, 16px, 767px, 1280px, 12px);

}
.all-categories-label{
    @include fluidFontSize(19px, 25px, 767px, 1280px, 22px);
}
.add-to-fav {
    position: absolute;
    right: 7%;
    top: 90%;
    .heart-icon {
        @include fluidFontSize(15px, 27px, 767px, 1280px, 20px);
    }
    &.add-to-fav:hover{
        color: $addToFav;
        cursor: pointer;
    }
}

// add-advertisment
.advertisement-title{
    @include fluidFontSize(15px, 25px, 767px, 1280px, 20px);
}

.p-dropdown {
  display: flex;
  background: $dropdownBackgroundColor !important;
  width: 100%;
  @include _560 {
    width: 70px;
    height: 33px;
  }
  .p-dropdown-label {
    @include _560 {
      font-size: 10px;
    }
  }
  .p-dropdown-trigger {
    .p-icon {
      @include _560 {
        width: 10px;
        height: 10px;
      }
    }
  }
}
.p-dropdown-items {
    @include _560 {
    font-size: 10px;
}
}
.custom-dropdown{
    margin-left:5px;
}
.add-container {
    margin: 5px; 
    p {
     @include fluidFontSize(10px, 16px, 767px, 1280px, 15px);
    }
}

#inputDesc {
    height: 210px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    border: none;
    @include border-radius(6px);
    @include _560{
        height: 184px;
    }
}
.label-options {
    margin-left: 9px;
    @include fluidFontSize(10px, 16px, 767px, 1280px, 15px);
}
.setting-container, .photo-upload-container, .info-container{
    @include border-radius(10px);
    padding: 35px;
    background-color: white;
}
.setting-container{
    @include _560{
        padding: 15px;
    }
}
.info-container, .photo-upload-container{
    @include _560{
        padding: 5px;
    }
}

.custom-input-style, .info-input {
    width: 100%;
    background-color: $inputBackgroundColor !important;
    @include _560{
        height: 35px;
    }
}

.custom-input-style::placeholder {
    @include fluidFontSize(8px, 16px, 767px, 1280px, 15px);
}

.photo-container {
    position: relative;
    width: 300px;
    height: 170px;
    @include border-radius(10px);
    overflow: hidden; 
    background-color: $photoContainerBackgroundColor;
    margin: 10px;
    @include at-max-width-960px {
        height: 110px;
    }
    @include _650 {
        height: 60px;
    }
    @include _420{
        height: 30px;
        }
    }

  .uploaded-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
  .add-photo-button {
    width: 12%; 
    height: 170px;
    padding: 8px 20px; 
    @include border-radius(10px);
    background-color: $addPhotoButtonBgColor; 
    border: none;
    margin: 10px;
    cursor: pointer;
    @include at-max-width-960px {
        padding: 2px 20px; 
        font-size: 12px; 
        width: 20%; 
        height: 110px;
        margin-top: 10px;
    }
    @include _650 {
        height: 60px;
        width: 12%; 
        font-size: 7px; 
        }
        @include _420{
            height: 30px;
            }
            &:hover {
                transform: scale(0.97);
                background-color: $addPhotoButtonHover;
              }
  }  
 
.publish-button {
    background-color: $publishBtn;
    padding: 15px 70px;
    @include border-radius(10px);
    border: none;
    &:hover {
        transform: scale(0.97);
        background-color: lighten($publishBtn, 5%);
    }
    @include at-max-width-960px {
        margin-bottom: 100px;
        padding: 10px 60px;
    }
    @include _560{
        padding: 5px 50px;
        }
}

 //view announcement

 .p-treeselect{
    width: 300px;
    @include _420{
        width: 115px;

    }
 }
 .outer-container{
    @include at-max-width-960px {
        flex-direction: column;
    }
 }
 .details-container{
    background-color: white;
    padding: 10px;
    @include border-radius(10px);
 }
 .description-container {
    height: auto;
    padding: 10px;
    background-color: white;
    @include border-radius(10px);
}
 .image-container {
    padding: 30px; 
}

.gallery-image {
    max-width: 100%;
    height: auto;
}

.info-block {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 100%;
}
.animal-container {
    background-color: white;
    height: 480px;  
    width: 700px; 
    @include border-radius(10px);
    @include at-max-width-960px {
        height: auto;  
        width: auto;     
    }
}
