$petMainBgColor: #E8E6E6;

// navbar
$navBgColor: #9EDCEF;
$navButtonBgColor: #3a5a72;
$navButtonTextColorLighten: #fff;
$navButtonTextColorDarken: #000;
$navHoverLinkTextColor: #9EDCEF;
$navAddButtonHover: #357db9;

// profile
$profileButtonAds: #91C3FF;
$profileAddContainer: #DFDFDF;
$profileEditBtn: #9EDCEF;
$profileChangePasswBtn:  #91C3FF;
$profilePhotoChangeBtn: #9EDCEF;

//home

$addToFav: #DFDFDF;

// add-adv
$dropdownBackgroundColor: #9EDCEF;
$photoContainerBackgroundColor: #D9D9D9;
$inputBackgroundColor:#9EDCEF;
$addPhotoButtonBgColor:#9EDCEF;
$publishBtn: #91C3FF;
$addPhotoButtonHover: #B4DEEC;