$petMainBgColor: #FEFEFE;

// navbar
$navBgColor: #9EDCEF;
$navButtonBgColor: #3a5a72;
$navButtonTextColorLighten: #fff;
$navButtonTextColorDarken: #000;
$navHoverLinkTextColor: #9EDCEF;
$navAddButtonHover: #357db9;

// sign-in
