<div class="edit-advertisement">
    <div *ngIf="!isLoading">
        <div class="text-center edit-title" style="margin: 90px 30px 20px 30px;">
            Edit Advertisement
        </div>
    
        <div class="change-desc-title" style="margin-left: 40px;">Change Description</div>
    
        <div class="flex info-container" style="margin: 20px 30px 20px 30px ">
            <div class="add-container" style="flex: 60%;">
                <div class="custom-input-desc" style="margin-right: 10px; margin-top:  10px;">
                    <textarea id="inputDesc"
                            class="custom-input-style"
                            pInputTextarea
                            [(ngModel)]="currentAnnouncement.description"
                            placeholder="Add important information about the animal..."></textarea>
                </div>
            </div>
            <div class="flex half-container" style="flex: 40%; flex-direction: column; gap:10px">
                <div class="custom-input">
                    <div>
                        <label for="announcementTitle" class="label-options">Change Advertisement Title: </label>
                    </div>
                    <input id="announcementTitle"
                        class="custom-input-style"
                        type="text"
                        pInputText
                        [(ngModel)]="currentAnnouncement.title"
                        placeholder="For example, Cane Corso" />
                </div>
                <div class="custom-dropdown-type" style=" width: 100%;">
                    <div>
                        <label for="options" class="label-options">Animal Type:</label>
                    </div>
                    <p-dropdown [options]="petTypes"
                                [(ngModel)]="currentAnnouncement.petType"
                                class="custom-dropdown-type"></p-dropdown>
                </div>
                <div class="flex">
                    <div style="width: 50%; margin-right: 20px;">
                        <div>
                            <label for="options" class="label-options">Advertisement type</label>
                        </div>
                        <p-dropdown [options]="types"
                                    [(ngModel)]="currentAnnouncement.type"></p-dropdown>
                    </div>

                    <div class="custom-input" style="width: 50%;">
                        <div>
                            <label for="announcementPrice" class="label-options">Change Price: </label>
                        </div>
                        <input id="announcementPrice"
                            class="custom-input-style"
                            type="text"
                            [(ngModel)]="currentAnnouncement.advertisementInfo!.price"
                            pInputText
                            placeholder="Specify the price" />
                    </div>
                </div>
                
            </div>
        </div>
    
        <div class="change-desc-title" style="margin-left: 40px; margin-top: 30px;">Change Additional Information</div>

        <div class="flex info-container" style="margin: 30px;">
            
            <div class="custom-input" style="width: 100%; margin-left: 10px;">
                <div>
                    <label for="inputBreed" class="label-options">Breed</label>
                </div>
                <input id="inputBreed"
                    class="custom-input-style"
                    type="text"
                    pInputText
                    [(ngModel)]="currentAnnouncement.advertisementInfo!.breed"
                    placeholder="Pet breed" />
            </div>
    
            <div style="margin-left: 20px;">
                <div>
                    <label for="options" class="label-options">Sex</label>
                </div>
                <p-dropdown [options]="genders"
                            [(ngModel)]="currentAnnouncement.advertisementInfo!.gender"
                            ></p-dropdown>
            </div>
    
            <div class="custom-input" style="width: 100%; margin-left: 20px;">
                <div>
                    <label for="inputAge" class="label-options">Age (months):</label>
                </div>
                <input id="inputAge"
                    class="custom-input-style"
                    type="text"
                    pInputText
                    [(ngModel)]="currentAnnouncement.advertisementInfo!.age"
                    placeholder="Pet age" />
            </div>
    
        </div>
        <div class=" flex justify-content-center align-center button-container" style="margin-bottom: 30px;">
            <button class="publish-button" (click)="changeData()">Change advertisement information</button>
        </div>
    </div>
</div>
