Pet4YouAPI/Pet4YouAPI/wwwroot/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vsidx
*.suo
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
.vs/
Pet4YouAPI/.vs/
Pet4YouAPI/Pet4YouAPI/bin/
Pet4YouAPI/Pet4YouAPI/obj/
