<div *ngIf="!isLoading else loading" class="profile-container" style="padding: 20px; background-color: white; margin-top: 100px;">
    <label class="flex justify-content-center profile-label">Your profile</label>
    <div class="flex justify-content-between">
        <div class="flex flex-direction-column flex-justify-content-end" style="gap: 5px;">
            <button class="your-ads-button" (click)="router.navigate(['/announcement', 'my'])" style="margin-top: 10px;">Your Ads</button>
            <button class="log-out-button" (click)="logout()" style="margin-top: 10px;">Log out</button>
            <button class="log-out-button" (click)="confirmDeletingAccount($event)" style="background-color: rgb(255, 95, 95); margin-top: 10px;">Delete profile</button>
        </div>
        <div class="profile-icon-container">
            <label class="profile-icon" style="margin-top: 10px;" for="photo-upload">
                <i class="pi pi-user"></i>
            </label>
            <input class="photo-upload-input" type="file" id="photo-upload" accept="image/*">
        </div>
    </div>
    <div class="flex align-center text-center additional-container" style="margin-top: 30px;">
        <div class="additional-first detailed-info">
            <div class="info-label">Detailed information</div>
            <p class="registration-date">Account registration date: {{user.registrationDate | date : "dd.MM.yyyy" }}</p>
            <div class="flex justify-content-around user-info">
                <div class="user-info-section">
                    <p class="info-label"><b>Personal Information</b></p>
                    <p><span class="info-title">First name:</span> <span class="info-value">{{user.userInfo.firstName ? user.userInfo.firstName : "isn't specified"}}</span></p>
                    <p><span class="info-title">Last name:</span> <span class="info-value">{{user.userInfo.lastName ? user.userInfo.lastName : "isn't specified"}}</span></p>
                    <p><span class="info-title">Patronymic:</span> <span class="info-value">{{user.userInfo.patronymicName ? user.userInfo.patronymicName : "isn't specified" }}</span></p>
                    <p><span class="info-title">Sex:</span> <span class="info-value">{{user.userInfo.sex ? user.userInfo.sex : "isn't specified"}}</span></p>
                </div>
                <div class="user-info-section">
                    <p class="info-label"><b>Contact Information</b></p>
                    <p><span class="info-title">Email:</span> <span class="info-value">{{user.userInfo.email ? user.userInfo.email : "isn't specified"}}</span></p>
                    <p><span class="info-title">Phone:</span> <span class="info-value">{{user.userInfo.phone ? user.userInfo.phone : "isn't specified"}}</span></p>
                    <p><span class="info-title">Date of Birth:</span> <span class="info-value">{{user.userInfo.dateOfBirth ? (user.userInfo.dateOfBirth | date: 'dd.MM.yyyy') : "isn't specified"}}</span></p>
                </div>
            </div>
            <p class="user-info-biography">Biography: {{user.userInfo.biography ? user.userInfo.biography : "isn't specified"}}</p>
            <button class="edit-button" (click)="changeDialogState()">Edit</button>
        </div>
        <div class="additional-second settings-info">
            <div class="info-label">Settings</div>
            <button class="change-photo-button">Change photo</button>

            <div class="password-fields">
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <div class="change-password-label">Password change</div>
                    <label for="old-password">Old password:</label>
                    <input formControlName="oldPassword" type="password" id="old-password" name="old-password" required><br>

                    <label for="new-password">New password:</label>
                    <input formControlName="newPassword" type="password" id="new-password" name="new-password" required><br>

                    <label for="confirm-new-password">Repeat new password:</label>
                    <input formControlName="newPasswordConfirm" type="password" id="confirm-new-password" name="confirm-new-password" required><br>

                    <button type="submit" class="change-password-button" [disabled]="changePasswordForm.invalid">Змінити пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>

<p-button (click)="confirmDeletingAccount($event)" icon="pi pi-check" label="Confirm"></p-button>

<ng-template #loading>
    <p-progressSpinner></p-progressSpinner>
</ng-template>

<p-dialog
    header="Profile editing"
    [(visible)]="isDialogOpened"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="true"
    [resizable]="true">
    <ng-container *ngTemplateOutlet="contentDialog"></ng-container>
</p-dialog>


<ng-template #contentDialog>
    <form [formGroup]="updateUserInfoForm" 
    (ngSubmit)="updateUser()">
        <div style="display: flex; flex-direction: column">
            
            <label>First Name</label>
            <input
                type="text"
                formControlName="firstName"
                pInputText
                placeholder="First name"/>
            
                <label style="margin-top: 20px">Last Name</label>
            <input
                type="text"
                pInputText
                formControlName="lastName"
                placeholder="Last name"/>

            <label style="margin-top: 20px">Patronymic Name</label>
            <input
                type="text"
                pInputText
                formControlName="patronymicName"
                placeholder="Paytronymic name"/>


            <label style="margin-top: 20px">Sex</label>
            <p-dropdown formControlName="sex" [options]="sexs"></p-dropdown>

            <label style="margin-top: 20px">Email</label>
            <input
                type="email"
                pInputText
                formControlName="email"
                placeholder="email@gmail.com"/>

            <label style="margin-top: 20px">Phone</label>
            <input
                type="text"
                pInputText
                formControlName="phone"
                placeholder="+380 66 666 66 66"/>

            <label  style="margin-top: 20px" for="updUser_dateOfBirth">Date of Birth</label>
            <p-calendar id="updUser_dateOfBirth"formControlName="dateOfBirth">
            </p-calendar>

            <label style="margin-top: 20px">Biography</label>
            <input
                type="text"
                pInputText
                formControlName="biography"
                placeholder="Tell about yourself"/>

            <button style="margin-top: 20px" class="confirm-update-button" type="submit">Update information</button>
        </div>
    </form>
</ng-template>