<div class="all-announcements-page" style="margin-top: 40px; max-width: 1280px; margin: 0 auto">
    <div class="flex all-announcement-page">
        <div class="flex search-container" style="margin: 25px 20px 7px 10px; width: 100%; gap:3px">
            <input type="text" pInputText style="width: 90%;" placeholder="What are you looking for?">
            <p-treeSelect
                class="md:w-20rem w-full"
                containerStyleClass="w-full"
                [(ngModel)]="selectedNodes"
                [options]="nodes"
                placeholder="Select Item"
                style="flex: 2; width: 90%;">
            </p-treeSelect>
            <p-button icon="pi pi-search"></p-button>
        </div>
        <div>
            <app-announcement-filters style="position: absolute; right: 0; z-index: 1"></app-announcement-filters>
        </div>
    </div>
    <div class="flex custom-container">
        <label class="sort-label">Sort by:</label>
        <div class="custom-dropdown-container">
            <p-button>Chose filters</p-button>
        </div>
    </div>
    <div class="all-announcement-container">
        <div class="main-announcement-title" style="margin-top: 30px; margin-left:25px">All Announcements</div>
        <div class="flex new-announcement-container">
            <div class="announcement-container-photo">
                <img src="assets/turtle.jpg" alt="turtle">
            </div>
            <div class="info-container-announcement" style="width: 100%; text-align:center">
                <div class="flex justify-content-between">
                    <div class="text-center category-label" style="margin-left: 10px;">Category: Reptiles</div>
                    <div class="text-center announc-label">Aquarium Turtle</div>
                    <div class="text-center location-time-label">
                        <span class="location" style="margin-right:10px">Kharkiv region</span>
                        <span class="time">Today 15:30:00</span>
                    </div>
                </div>
                <div class="price-label">400 UAH</div>
                <div class="decs-cont" style="margin-left:15px ">
                    <div class="desc-label">Description: Red-eared turtle, size 5-6 cm. Delivery across Ukraine, also the possibility of self-pickup from our warehouse in Kharkiv.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="all-announcement-container" style="margin-bottom: 100px;">
        <div class="flex new-announcement-container">
            <div class="announcement-container-photo">
                <img src="assets/chinchilla.jpg" alt="chinchilla">
            </div>
            <div class="info-container-announcement" style="width: 100%; text-align:center">
                <div class="flex justify-content-between">
                    <div class="text-center category-label" style="margin-left: 10px;">Category: Rodents</div>
                    <div class="text-center announc-label">Chinchilla</div>
                    <div class="text-center location-time-label">
                        <span class="location" style="margin-right:10px">Sumy region</span>
                        <span class="time">30.12.2022</span>
                    </div>
                </div>
                <div class="price-label">800 UAH</div>
                <div class="decs-cont" style="margin-left:15px ">
                    <div class="desc-label">Description: Selling charming chinchillas. Age 2 months. Playful, active, hand-reared. Eat independently.</div>
                </div>
            </div>
        </div>
    </div>
</div>
