<form [formGroup]="form" (ngSubmit)="publicAnnouncement($event)">
    <div class="add-advertisement">
        <div class="text-center advertisement-title" style="margin-top: 30px;">Create announcement</div>

        <div class="flex align-center setting-container" style="margin: 30px; margin-top: 50px;">
            <div class="custom-input" style="flex: 1; margin-right: 10px;">
                <div>
                    <label for="inputName" class="label-options">Title</label>
                </div>
                <input id="inputName"
                       formControlName="title"
                       class="custom-input-style"
                       type="text"
                       pInputText
                       placeholder="For example, gray, blue Cane Corso is on sale" 
                       style="margin-left: 10px;"/>
            </div>

            <div class="custom-dropdown">
                <div>
                    <label for="options" class="label-options">Type</label>
                </div>
                <p-dropdown [options]="types"
                            [(ngModel)]="selectedType"
                            formControlName="type"
                            optionLabel="label"
                            class="custom-dropdown"></p-dropdown>
            </div>

            <div class="custom-dropdown">
                <div>
                    <label for="options" class="label-options">Pet type</label>
                </div>
                <p-dropdown [options]="anotherOptions"
                            [(ngModel)]="selectedAnother"
                            formControlName="petType"
                            optionLabel="label"
                            class="custom-dropdown"></p-dropdown>
            </div>
        </div>

        <div style="margin: 30px;" class="align-center photo-upload-container">
            <div>
                <div style="margin-left: 10px">Photos</div>
                <div class="change-photo-desc" style="margin-left: 10px; margin-top: 10px;">The first photo will be the cover of the advertisement. Drag to change the photo order.</div>
            </div>
            <div class="align-center flex" >
                <button class="flex justify-content-center add-photo-button" (click)="openFileInput()" style="margin-top: 10px; align-items: center;">Add photos</button>
                <input type="file" #fileInput style="display: none" accept="image/*" (change)="displayImage($event)">
                <div *ngFor="let photoContainer of photoContainers; let i = index" class="photo-container" (dragstart)="onDragStart(i, $event)" (dragover)="onDragOver($event)" (drop)="onDrop(i, $event)" draggable="true">
                    <img *ngIf="uploadedPhotos[i]" [src]="uploadedPhotos[i]" alt="Uploaded Photo" class="uploaded-photo">
                </div>
            </div>
        </div>
       
    </div>

    <div class="flex info-container" style="margin: 30px; ">
        <div class="add-container" style="flex: 60%;">
            <p class = "desc-label" style="margin: 10px 0;">Description</p>
            <div class="custom-input-desc" style="margin-right: 10px;">
                <textarea
                    pInputTextarea
                    id="inputDesc"
                    class="custom-input-style"
                    formControlName="description"
                    placeholder="You can add some important information about your pet here..."></textarea>
            </div>
        </div>
        <div class="flex half-container" style="flex: 40%; flex-direction: column;">
            <div class="custom-input" style="margin-top: 20px;">
                <div>
                    <label for="inputCountry" class="label-options">Country</label>
                </div>
                <input id="inputCountry"
                       formControlName="country"
                       class="custom-input-style"
                       type="text"
                       pInputText
                       placeholder="Country name" />
            </div>

            <div class="custom-input" style="margin: 10px 0;">
                <div>
                    <label for="inputRegion" class="label-options">Region</label>
                </div>
                <input id="inputRegion"
                       class="custom-input-style"
                       formControlName="region"
                       type="text"
                       pInputText
                       placeholder="Region name" />
            </div>
            <div class="custom-input" style="margin: 10px 0;">
                <div>
                    <label for="inputCity" class="label-options">City</label>
                </div>
                <input id="inputCity"
                       class="custom-input-style"
                       formControlName="city"
                       type="text"
                       pInputText
                       placeholder="City name" />
            </div>
        </div>
    </div>
    <div class="flex info-container" style="margin: 30px; ">
        <div class="custom-input" style="width: 100%; margin-left: 10px;">
            <div>
                <label for="inputBreed" class="label-options">Breed</label>
            </div>
            <input id="inputBreed"
                   class="custom-input-style"
                   formControlName="breed"
                   type="text"
                   pInputText
                   placeholder="Pet breed" />
        </div>

        <div class="custom-dropdown">
            <div>
                <label for="options" class="label-options">Sex</label>
            </div>
            <p-dropdown [options]="genders"
                        [(ngModel)]="selectedGender"
                        formControlName="gender"
                        optionLabel="label"
                        class="custom-dropdown"></p-dropdown>
        </div>

        <div class="custom-input" style="width: 100%; margin-left: 10px;">
            <div>
                <label for="inputAge" class="label-options">Age (months):</label>
            </div>
            <input id="inputAge"
                   class="custom-input-style"
                   formControlName="age"
                   type="text"
                   pInputText
                   placeholder="Pet age" />
        </div>

        <div class="custom-input" style="width: 100%; margin-left: 10px;">
            <div>
                <label for="inputPrice" class="label-options">Price</label>
            </div>
            <input id="inputPrice"
                   class="custom-input-style"
                   formControlName="price"
                   type="text"
                   pInputText
                   placeholder="Price in UAH" />
        </div>
    </div>
    <div class=" flex justify-content-center align-center button-container" style="margin-bottom: 30px;">
        <button
            [disabled]="form.invalid"
            class="publish-button">Create advertisement</button>
    </div>
</form>
