<div class="flex new-announcement-container">
    <div class="announcement-container-photo">
        <img src="{{ getCorrectImg() }}" alt="img">
    </div>
    <div class="info-container-announcement" style="width: 100%; text-align:center">
        <div class="flex justify-content-between">
            <div>
                <div class="category-label" style="margin-left: 10px;">Category: {{ announcementData?.type }}</div>
                <div class="category-label" style="margin-left: 10px;">Pet: {{ announcementData?.petType }}</div>
            </div>
            <div class="text-center announc-label">{{ announcementData?.title }}</div>
            <div class="text-center location-time-label">
                <span class="location" style="margin-right:10px">
                    {{ getCorrectLocation() }}
                </span>
                <span class="time">{{ announcementData?.publicationDate | date : "dd.MM.yyyy hh:mm" }}</span>
            </div>
        </div>
        <div class="price-label">{{ getCorrectPrice() }}  </div>
        <div class="decs-cont" style="margin-left:15px ">
            <div class="desc-label">Description: {{ getCorrectDescription() }}</div>
        </div>
        <a class="announcement-details-link" [routerLink]="['/announcement','view',announcementData?.id]">Details</a>
    </div>
</div>