<div class="flex new-announcement-container">
    <div class="announcement-container-photo">
        <img src="assets/turtle.jpg" alt="turtle">
    </div>
    <div class="info-container-announcement" style="width: 100%; text-align:center">
        <div class="flex justify-content-between">
            <div class="text-center category-label" style="margin-left: 10px;">Category: Reptiles</div>
            <div class="text-center announc-label">Aquarium Turtle</div>
            <div class="text-center location-time-label">
                <span class="location" style="margin-right:10px">Kharkiv region</span>
                <span class="time">Today 15:30:00</span>
            </div>
        </div>
        <div class="price-label">400 UAH</div>
        <div class="decs-cont" style="margin-left:15px ">
            <div class="desc-label">Description: Red-eared turtle, size 5-6 cm. Delivery across Ukraine, also the possibility of self-pickup from our warehouse in Kharkiv.</div>
        </div>
    </div>
</div>