<div class="main-page">
    <ng-container *ngIf="uiParts.showHeader">
        <div class="nav-container" style="padding: 0 15px">
            <nav class="navbar flex align-items-center justify-content-between">
                <a href="#">
                    <img style="width: 100px" src="/assets/logo.png" class="logo" alt="Logo">
                </a>
                <ul class="flex justify-content-center align-items-center"
                    style="gap: 10px">
                    <li><a class="active" [routerLink]="['#']">Messages</a></li>
                    <li><a class="active" [routerLink]="['#']">Selected</a></li>
                    <li><a class="active" [routerLink]="['profile']">Profile</a></li>
                </ul>
                <a href="#"
                   class="add-button"
                   [routerLink]="['announcement', 'create']"
                   style="padding: 10px 20px;">
                    Add announcement
                </a>
            </nav>
        </div>
    </ng-container>
    <div class="back-button">
        <button
            pButton
            style="height: 32px; left: 20px"
            [style.margin-top.px]="uiParts.showHeader ? 10 : 20"
            [icon]="'pi pi-arrow-left'"
            [iconPos]="'left'"
            [label]="'Back'"
            (click)="back()"
            class="p-button-secondary p-button-text"
        ></button>
    </div>
    <div style="width: 100%">
        <router-outlet></router-outlet>
    </div>

    <footer class="footer">
        © Pet4You 2023
    </footer>
</div>

<p-toast></p-toast>
