<div style="margin: 0 auto; max-width: 1280px;">
    <div class="order-message" style="height: 100vh;">
        <div class = "text-center message" style="margin-top: 50px;">Повідомлення</div>
        <div class=" text-center receive-send-btn">
            <button class="received-btn" type="button">Отримані повідомлення</button>
            <button class="send-btn" type="button">Відправлені повідомлення</button>
        </div>
        <div class="message-container">
            <div class="nickname-label">Nickname</div>
            <div class=" flex adv-block">
            <div class="adv-label">Назва оголошення</div>
            <div class="adv-desc">Хочу купити собаку.  Хочу купити собакХочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку.</div>
        </div>
        <div class="flex agreement-container" style="margin-top: 30px; justify-content: flex-end; gap:20px;">
            <button class="agree-btn" type="button">Укласти угоду</button>
            <button class="reject-btn" type="button">Відхилити угоду</button>
            <div class="time-publish">12:23</div>
        </div>
    </div>
    <div class="message-container">
        <div class="nickname-label">Nickname</div>
        <div class=" flex adv-block">
        <div class="adv-label">Назва оголошення</div>
        <div class="adv-desc">Хочу купити собаку.  Хочу купити собакХочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку. Хочу купити собаку.</div>
    </div>
    <div class="flex agreement-container" style="margin-top: 30px; justify-content: flex-end; gap:20px;">
        <button class="agree-btn" type="button">Укласти угоду</button>
        <button class="reject-btn" type="button">Відхилити угоду</button>
        <div class="time-publish">12:23</div>
    </div>
</div>
