<div class="seller-profile"> 
    <div style="margin: 0 auto; max-width: 1280px;">
        <div class="text-center info-user" style="margin-top: 70px;">Information about user</div> 
        <div class="flex seller-container "> 
            <div class="seller-icon-container"> 
                <label class="profile-icon" style="margin-top: 10px;" for="photo-upload"> 
                    <i class="pi pi-user"></i> 
                </label> 
                <input class="photo-upload-input" type="file" id="photo-upload" accept="image/*"> 
            </div> 
            <div class="nickname-container"> 
                <div class="nickname-label">{{ user.login }}</div> 
                <label class="name-label" for="firstName">{{ getCorrectFullName() }} </label> 
                <div>{{ user.userInfo.biography }}</div>
            </div> 
            <div class="date-register">
                <div>Registration date: {{ user.registrationDate | date }}</div> 
                <button
                    *ngIf="isCanBeBanned"
                    class="log-out-button"
                    (click)="onBannedAccount($event)"
                    style="background-color: rgb(255, 95, 95); margin-top: 10px;">Ban this account</button>
            </div>
        </div> 
        <div class="text-center info-reviews">Rating and reviews</div> 
        <div class="review-container"> 
            <div class="flex rating-container"> 
                <div class="rating-label">Rating</div> 
                <label class="rating-label" style="margin-left:20px">4.5</label> 
                <span class="out-of-five" style="margin-left: 10px;"> / 5</span> 
                <div class="number-rating-label" style="margin-left: 90px;"> {{ getReviewsCount() }} total user ratings </div> 
            </div> 
        <div class=" flex review-block-container" style="gap:20px"> 
            <div class="assesment-title">Відгуки</div> 
            <div class="review-block"> 
                <div class="time-publication ">Вчора о 20:00</div> 
                <div class="text-center review-title">Гарний продавець</div> 
                <div class="user-assesment">Оцінка: 5</div> 
                <div class="user-review">Продавець вічливий, угода прошла швидко та зручно</div> 
            </div> 
            <div class="review-block"> 
                <div class="time-publication ">Вчора о 20:00</div> 
                <div class="text-center review-title ">Довго не відповідає</div> 
                <div class="user-assesment">Оцінка: 4</div> 
                <div class="user-review">Занадто довго відповідав, але домовились про покупку.</div> 
            </div> 
        </div> 
    </div> 
    <div class="text-center info-contact">Контактна інформація про користувача</div> 
    <div class="flex contact-info-container"> 
        <div class="flex contact-info">  
            <div class="info-item"> 
                <span class="info-label">Phone number: </span> 
                <span class="info-value">{{ user.userInfo.phone }}</span> 
            </div> 
            <div class="info-item"> 
                <span class="info-label">Email: </span> 
                <span class="info-value">{{ user.userInfo.email }}</span> 
            </div> 
        </div> 
    </div>
</div>
