<div class="seller-profile"> 
    <div class="text-center info-user" style="margin-top: 70px;">Інформація про користувача</div> 
    <div class="flex seller-container "> 
        <div class="seller-icon-container"> 
            <label class="profile-icon" style="margin-top: 10px;" for="photo-upload"> 
                <i class="pi pi-user"></i> 
            </label> 
            <input class="photo-upload-input" type="file" id="photo-upload" accept="image/*"> 
        </div> 
        <div class="nickname-container"> 
            <div class="nickname-label">Нікнейм</div> 
            <label class="name-label" for="firstName">Імя: Василь</label> 
            <label class="surname-label" for="secondName">Прізвище: Васильович</label> 
        </div> 
        <div class="date-register">Дата реєстрації: 01.12.2021</div> 
    </div> 
    <div class="text-center info-reviews">Оцінка і відгуки</div> 
    <div class="review-container"> 
        <div class="flex rating-container"> 
            <div class="rating-label">Рейтинг</div> 
            <label class="rating-label" for="firstName" style="margin-left:20px">4.5</label> 
            <span class="out-of-five" style="margin-left: 10px;"> із 5</span> 
            <div class="number-rating-label" style="margin-left: 90px;">257 оцінок всього</div> 
        </div> 
    <div class=" flex review-block-container" style="gap:20px"> 
        <div class="assesment-title">Відгуки</div> 
        <div class="review-block"> 
            <div class="time-publication ">Вчора о 20:00</div> 
            <div class="text-center review-title">Гарний продавець</div> 
            <div class="user-assesment">Оцінка: 5</div> 
            <div class="user-review">Продавець вічливий, угода прошла швидко та зручно</div> 
        </div> 
        <div class="review-block"> 
            <div class="time-publication ">Вчора о 20:00</div> 
            <div class="text-center review-title ">Довго не відповідає</div> 
            <div class="user-assesment">Оцінка: 4</div> 
            <div class="user-review">Занадто довго відповідав, але домовились про покупку.</div> 
        </div> 
    </div> 
</div> 
<div class="text-center info-contact">Контактна інформація про користувача</div> 
<div class="flex contact-info-container"> 
    <div class="flex contact-info">  
        <div class="info-item"> 
            <span class="info-label">Номер телефону: </span> 
            <span class="info-value">+380000000000</span> 
        </div> 
        <div class="info-item"> 
            <span class="info-label">Електронна пошта: </span> 
            <span class="info-value">example&#64;gmail.com</span> 
        </div> 
    </div> 
</div>
