<div *ngIf="!isLoading" class="seller-profile"> 
    <div style="margin: 0 auto; max-width: 1280px;">
        <div class="text-center info-user" style="margin-top: 70px;">Information about user</div> 
        <div class="flex seller-container "> 
            <div class="seller-icon-container"> 
                <label class="profile-icon" style="margin-top: 10px;" for="photo-upload"> 
                    <i class="pi pi-user"></i> 
                </label> 
                <input class="photo-upload-input" type="file" id="photo-upload" accept="image/*"> 
            </div> 
            <div class="nickname-container"> 
                <div class="nickname-label">{{ user.login }}</div> 
                <label class="name-label" for="firstName">{{ getCorrectFullName() }} </label> 
                <div>{{ user.userInfo.biography }}</div>
            </div> 
            <div class="date-register">
                <div>Registration date: {{ user.registrationDate | date }}</div> 
                <div>
                    <button
                    class="your-ads-button"
                    (click)="isReviewDialogOpened = true"
                    style="margin-top: 10px;">Add a review</button>
                </div>
                
                <div>
                    <button
                        *ngIf="isCanBeBanned"
                        class="log-out-button"
                        (click)="onBannedAccount($event)"
                        style="background-color: rgb(255, 95, 95); margin-top: 10px;">Ban this account</button>
                </div>
            </div>
        </div> 
        <div class="text-center info-reviews">Rating and reviews</div> 
        <div class="review-container"> 
            <div class="flex rating-container"> 
                <div class="rating-label">Rating</div> 
                <div *ngIf="userScope > 0 else noscore">
                    <label class="rating-label" style="margin-left:20px">{{ userScope | number:'1.2-2' }}</label> 
                    <span class="out-of-five" style="margin-left: 10px;"> / 5</span>                     
                </div>
                <ng-template #noscore>
                    <div>There is no reviews</div>
                </ng-template>
            </div> 
        <div class=" flex review-block-container" style="gap:20px"> 
            <div class="assesment-title">Latest reviews</div> 
            <div *ngFor="let review of latestReviews" class="review-block"> 
                <div class="time-publication ">{{ review.ratingDate | date }}</div> 
                <div class="user-assesment">Score: {{ review.score }}</div> 
                <div class="user-review">{{ review.comment }}</div> 
            </div> 
            <div style="margin-left: -20px;" *ngIf="latestReviews.length == 0">There is no latest reviews</div>
        </div> 
    </div> 
    <div class="text-center info-contact">Контактна інформація про користувача</div> 
    <div class="flex contact-info-container"> 
        <div class="flex contact-info">  
            <div class="info-item"> 
                <span class="info-label">Phone number: </span> 
                <span class="info-value">{{ user.userInfo.phone }}</span> 
            </div> 
            <div class="info-item"> 
                <span class="info-label">Email: </span> 
                <span class="info-value">{{ user.userInfo.email }}</span> 
            </div> 
        </div> 
    </div>
</div>

<p-dialog 
    header="Add a review about {{ user.login }}" 
    [(visible)]="isReviewDialogOpened" 
    [style]="{width: '600px'}"
    [modal]="true"
    [draggable]="false"
    [resizable]="false">
    <div>
        <div class="flex" style="gap: 10px; align-items: center;">
            <p style="font-size: 18px">Score:</p>
            <p-dropdown [options]="scores" [(ngModel)]="score"></p-dropdown>
        </div>
    </div>
    <div>
        <p style="font-size: 18px; margin-bottom: 5px;">Review text</p>
        <textarea pInputTextarea [(ngModel)]="reviewText" style="resize: none; width: 100%; height: 100px"></textarea>
    </div>
    <div style="margin-top: 15px">
        <button pButton (click)="leaveReview()" label="Leave a review"></button>
    </div>
</p-dialog>